<?xml version="1.0"?>

<launch>
  <arg name="sitl" default="false" />

  <!-- Launch the mavros connection -->
  <include file="$(find tartan_sub)/launch/mavros.launch">
    <arg name="sitl" value="$(arg sitl)" />
  </include>

 <node pkg="rosbag" type="record" name="nsh_data_collect"
       args="record /nsh_data_collect sj_camera/left_image_raw /sj_camera/right_image_raw" />

</launch>
